.jobs {
  &-to {
    display: block;
  }

  &-date {
    margin-top: 7px;
    opacity: 0.5;
    font-size: 14px;
    line-height: 18px;
  }

  &-title {
    margin-bottom: 9px;
  }

  &-item {
    margin-bottom: 30px;
  }

  &-technologies {
    padding-top: 9px;
  }

  &-technology {
    color: #595959;
    background-color: #f5f5f5;
    margin: 3px 0 0 4px;
    border-radius: 4px;
    padding: 0 3px;
    font-size: 14px;
    display: inline-block;
    line-height: 22px;
  }
}
