extends /blocks/case/index.pug

block when
  span 2018—2019

block title
  span Фронтендер в BelVG

block content
  p.case-description
    | Писал бэкенд–части для Magento 2 и Prestashop, верстал под разные форматы, языки и прочее.
    | Помог обновить клиентский сайт с Prestashop 1.6 до 1.7 (переписывание 80% кода),
    | написал банковский конфигуратор карт, исправил тысячи багов на сотнях сайтов.
