extends /blocks/case/index.pug

block when
  span 2017—2018

block title
  span Тимлид и дизайнер в Цифре

block content
  p.case-description
    | Разработал логотип, айдентику и дизайн сайта. Контролировал реализацию дизайна, ввёл автоматизированные тесты и деплой.
    | Контролировал работу штата программистов. Занимался построением архитектуры, проводил ревью, писал код на PHP и JavaScript.
