extends /blocks/case/index.pug

block when
  span 2016—2017

block title
  span Фуллстек и дизайнер в CMT

block content
  p.case-description
    | Спроектировал, задизайнил и запустил новую версию сайта на самописном движке. Сделал мощную динамическую админку, которая позволяет с удобством для редакторов писать статьи. Проектировал и выстраивал архитектуру. Проводил собеседования, собирал команду.
