extends /blocks/case/index.pug

block when
  span 2015-2016

block title
  span Фуллстек в ЭФО

block content
  p.case-description
    | Создавал сайты внутренних проектов, автоматизировал рутинные задачи для менеджеров, поддерживал и переписывал старый сайт. Проектировал, писал и запускал сложный конфигурируемый поисковик по продуктам компании.
