extends /blocks/case/index.pug

block when
  span С февраля 2019

block title
  span Фронтлид в Тектософте

block content
  p.case-description
    | Отвечаю за работу команды фронтендеров, выбираю стек технологий,
    | и конечно же пишу код. Реализовал CI/CD, рисовал дизайн для ключевых проектов.
    | В свободное время развлекаюсь экспериментами с технологиями, которые можно внедрить в компанию.
  h4.case-factTitle Улучшения рабочих процессов
  .case-facts.__four
    div.case-fact
      img.case-factImg(src="./assets/ci-graph.svg", aria-hidden="true")
      p.case-factText
        | Благодаря внедрённым автоматизациям, процесс выпуска обновлений стал гораздо прозрачнее для менеджеров и комфортнее для разработчиков.
    div.case-fact
      img.case-factImg(src="./assets/git-flow@2x.png", aria-hidden="true")
      p.case-factText
        | Введённая система именования веток сохраняет много времени в командной работе,
        | а так же даёт тестировщикам возможность понять, что сейчас вылилось.
    div.case-fact
      img.case-factImg(src="./assets/chats@2x.png", aria-hidden="true")
      p.case-factText
        | Удалённая работа стала гораздо комфортнее с появлением корпоративного чата Mattermost и Jitsi Meet.
        | Удалённые разработчики больше не чувствуют себя изгоями.
    div.case-fact
      img.case-factImg(src="./assets/size-limit@2x.png", aria-hidden="true")
      p.case-factText
        | Фронтендеры начали думать о размере отдельных пакетов в составе бандла и сжатии изображений.
        | Так же теперь знают, что плохой код не пройдёт ревью.

