include ../page.pug
include ../resume/resume.pug

+page('Резюме Миши', 'Резюме Миши Хрустика', 'resume')
  .resume
    +resumeHeader('Михаил Хрустик', 'Веб–разработчик и дизайнер', 'Фотография Миши Хрустика')
    .resume-jobs
      +resumeJob(
        'Фронтлид в Тектософт',
        { from: 'Фев 2019', to: 'Наши дни' },
        { title: 'Тектософт', url: 'https://tektosoft.ru/' },
        [ 'Angular', 'React', 'Preact', 'Docker', 'Ansible', 'GitLab CI', 'Node.JS', 'Vanilla ES6', 'PHP', 'Webpack', 'Parcel', 'Mocha', 'Chai', 'Puppeteer', 'Jasmine', 'Autohotkey' ]
      )
        p Поддерживал и развивал CRM–системы для сотового оператора и железнодорожников, HR-сервис для моряков, интернет-магазин монет и ещё множество проектов,
        p Автоматизировал процессы, готовил бойлерплейты для различных стеков.
        p Писал Ansible playbook для автоматизации деплоя, покрывал код интеграционными тестами, учил тестировщика писать тесты. Ввёл проверки качества фронтенд–кода во все проекты в которых участвовал.
        p Проектировал REST api, помогал в принятии важных технических решений.
        p Учил девопса и разработчиков работать с GitLab CI.
        p Проводил код–ревью, пояснял за кастомные свойства CSS.
        p Автоматизировал работу Windows XP, которая через RDP была подключена к Windows 10, которая через TeamViewer была подключена к macOS.
        p Делал SSR для сайта на Angular 8. Поддерживал покрытие тестами на >90%.
        p Внедрил в компании практику ведения опен–сурс проектов, написал бота для автоматизированного ревью. Помогал выбирать стек технологий на проекты.

      +resumeJob(
        'Фронтендер в БелВГ',
        { from: 'Июл 2018', to: 'Фев 2019' },
        { title: 'БелВГ', url: 'http://belvg.com' },
        [ 'PHP', 'Twig', 'Smarty', 'Bootstrap', 'Vanilla ES6', 'Angular', 'Node.JS', 'jQuery', 'Babel', 'Gulp', 'MySQL', 'Webpack', 'Knockout.JS' ]
      )
        p Писал бэкенд–части для Magento 2 и Prestashop, верстал под разные форматы, языки и прочее.
        p Помог обновить клиентский сайт с Prestashop 1.6 до 1.7 (по сути переписывание 80% кода), написал банковский конфигуратор карт, исправил тысячи багов на сотнях сайтов.
        p Не стеснялся предложить решения, которые не совпадают с привычным стеком компании.
        p Переписывал легаси, внедрял и оптимизировал сборщики.

      +resumeJob(
        'Тимлид и дизайнер в Цифре',
        { from: 'Май 2017', to: 'Мар 2018' },
        { title: 'Цифра', url: 'https://cifra.in' },
        [ 'PHP', 'Smarty', 'Vanilla ES6', 'Babel', 'Rollup', 'PostCSS', 'Gulp' ]
      )
        p Разработал логотип, айдентику и дизайн сайта.
        p Запустил обновленную версию сайта. Весь фронт был переписан с нуля.
        p Ввёл на проект автоматические тесты и деплой.
        p Контролировал работу штата программистов и проектировщиков.
        p Занимался построением архитектуры, проводил ревью, писал код для фронт и бэк частей.

      +resumeJob(
        'Разработчик, дизайнер и техлид в CMT',
        { from: 'Сен 2016', to: 'Май 2017' },
        { title: 'CMT', url: 'https://cmtscience.ru' },
        [ 'PHP', 'Twig', 'Vanilla ES6', 'Vue', 'Node', 'Express', 'Rollup', 'PostCSS', 'Gulp' ]
      )
        p Спроектировал, задизайнил и запустил новую версию сайта на самописном движке. Сделал мощную динамическую админку, которая позволяет с удобством для редакторов писать статьи.
        p Проектировал и выстраивал микросервисную архитектуру. Проводил собеседования, собирал команду.
        p Написал и оформил редполитику.

      +resumeJob(
        'Фуллстек в ЭФО',
        { from: 'Июн 2016', to: 'Авг 2016' },
        { title: 'ЭФО', url: 'https://efo.ru/' },
        [ 'PHP', 'Laravel', 'Twig', 'Smarty', 'jQuery', 'Perl', 'Java', 'Bootstrap' ]
      )
        p Создавал сайты внутренних проектов, автоматизировал рутинные задачи для менеджеров, поддерживал и переписывал старый сайт.
        p Проектировал, писал и запускал сложный конфигурируемый поисковик по продуктам компании.

    .resume-skills
      h2.resume-skillsHeading Навыки
      +resumeSkill('Дизайн',
        [
          'Владею Photoshop, Illustrator, InDesign и Figma',
          'Понимаю разницу между UI и UX',
          'Читал гайдлайны по Material и Metro Design',
          'Могу писать пером',
          'Умею работать с покадровой, tween и spline–анимацией',
          'Имею базовые навыки Principle, Framer и Sketch'
        ]
      )
      +resumeSkill('Технологии',
        [
          'Активный контрибьютер в Open Source',
          'Внимателен к мелочам, особенно в чужом коде',
          'Называю функции и переменные понятными не только для себя именами',
          'Знаю, что Java и JavaScript – это разные вещи',
          'Применяю паттерны проектирования',
          'Следую последним стандартам: HTML5, CSS3, ES2015+, ГОСТ',
          'Использую тесты, линтеры и методы вербального убеждения',
          'Работал с Angular 6, 7, 8, NgRx, Knockout.JS, React, Redux, Vue, Preact и Svelte',
          'Способен настроить Webpack, Rollup, Gulp, Parcel и скрипты в npm',
          'Могу отличить постпроцессор от транспилятора и OOP от TDD',
          'Умею верстать без использования фреймворков; по БЭМ и без; на шаблонизаторах и JSX',
          'Считаю что за PWA будущее приложений и не перестаю всех в этом убеждать',
          'Верстал AMP–совместимые страницы, дотягивал Pagespeed и Sitespeed.io до 100',
          'Знаю, что не все люди имеют равные возможности. Делаю доступные интерфейсы by default',
          'Повелеваю GitLab CI, Jenkins и Travis.CI',
          'Могу написать Dockerfile и docker-compose',
          'Умею конфигурировать nginx и Apache',
          'Знаю как собрать ядро Linux и как оптимизировать его под конкретную архитектуру'
        ]
      )
      +resumeSkill('Процессы',
        [
          'Знаю, чем отличаются merge от rebase и stash от cherry pick',
          'Много читаю, постоянно учусь сам и могу обучать других',
          'Почти не боюсь публичных выступлений',
          'Умею создавать таски в эпиках, ассайнить тестировщиков и перетаскивать карточки на Kanban–доске'
        ]
      )
      +resumeSkill('Право',
        [
          'Знаю, что шрифты и изображения бывают не бесплатными и помогаю их правильно купить',
          'Отличаю BSD от MIT и с опаской использую GPL–проекты',
          'Знаю почему опасно использовать React при разработке криптовалютных сайтов'
        ]
      )
