mixin page(title, description, page)
  doctype html
  html(lang='ru', itemtype='https://schema.org/Person', itemscope)
    +head(title, description, page)
    body
      +worker()
      .content
        block
