{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-class-pattern": null,
    "custom-property-pattern": null,
    "at-rule-no-unknown": null
  },
  "customSyntax": "postcss-scss"
}
