include ../../blocks/_blocks.pug

+page('Misha', 'Contacts and projects of Mikhael Khrustik', 'blog')
  +menu('blog/')
  +hero()
  .blog
    .blog-group.columns
      .columns-aside
        h2.blog-year 2019
      .columns-main
        .blog-article
          a.link Tests for dummies
          span.blog-date 10/19
        .blog-article
          a.link Tests for dummies
          span.blog-date 10/19
        .blog-article
          a.link Tests for dummies
          span.blog-date 10/19
