---
import Layout from "../../layouts/Layout.astro";
import Typography from "../../components/Typography.astro";
import Experience from "../../components/Experience.astro";
import { getCollection } from "astro:content";
import { formatShortDate, parseFullDate } from "../../utils/date";

const CONTINUOUS = "∞";

const articles = await getCollection("blog");

const articlesMap = articles.reduce(
  (acc, article) => {
    if (article.data.continuous) {
      if (!acc[CONTINUOUS]) {
        acc[CONTINUOUS] = [];
      }
      acc[CONTINUOUS].push(article);
      return acc;
    }
    const year = parseFullDate(article.data.publishedAt).getFullYear();
    if (!acc[year]) {
      acc[year] = [];
    }
    acc[year].push(article);
    return acc;
  },
  {} as Record<string, typeof articles>,
);

const articlesByYear = Object.entries(articlesMap).sort((a, b) => {
  if (a[0] === CONTINUOUS) {
    return -1;
  }
  if (b[0] === CONTINUOUS) {
    return 1;
  }
  return parseInt(b[0], 10) - parseInt(a[0], 10);
});
---

<Layout title="Блог Миши Хрустика">
  <Typography color="secondary" class="heading honey" data-effect="slide">
    Пишу о дизайне, технологиях, кофе и всём, что меня волнует.
  </Typography>
  <div class="blog">
    {
      articlesByYear.map(([year, articles]) => (
        <div class="blog-yearArticles">
          <span
            class:list={["blog-year", year === CONTINUOUS && "__continuous"]}
          >
            {year}
          </span>
          <div class="blog-articles">
            {articles.map((article) => (
              <div>
                <Typography
                  variant="text-m"
                  color="primary"
                  as="a"
                  href={`/blog/${article.id}`}
                >
                  {article.data.title}
                </Typography>
                {year !== CONTINUOUS && (
                  <Typography
                    class="blog-articleDate"
                    as="span"
                    variant="text-m"
                    color="tertiary"
                  >
                    {formatShortDate(parseFullDate(article.data.publishedAt))}
                  </Typography>
                )}
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</Layout>

<style lang="scss">
  @use "../../styles/typography.scss";

  .heading {
    max-width: var(--size-layout-content-narrow);
  }

  .blog {
    margin-top: 36px;
  }

  .blog-yearArticles {
    max-width: var(--size-layout-content-narrow);
    display: flex;
    position: relative;
    margin-top: var(--space-m);
  }

  .blog-articles {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .blog-articleDate {
    margin-left: 1em;
  }

  .blog-year {
    @include typography.heading-s;
    color: var(--color-content-tertiary);
    text-align: right;
    width: 85px;
    position: absolute;
    left: calc((85px + 32px) * -1);
    top: 7px;

    &.__continuous {
      top: 5px;
    }
  }

  @media screen and (max-width: 850px) {
    .blog-yearArticles {
      flex-direction: column;
      margin-top: 0;
    }

    .blog-yearArticles + .blog-yearArticles {
      margin-top: 27px;
    }

    .blog-year,
    .blog-year.__continuous {
      @include typography.heading-m;
      position: relative;
      left: 0;
      top: 0;
      text-align: left;
      width: unset;
      margin-bottom: var(--space-s);
    }

    .blog-articles {
      margin-bottom: 0px;
    }
  }
</style>
