- var linkedInUrl = 'https://www.linkedin.com/in/mikhael-khrustik-29167b197/'
- var siteUrl = 'https://myrt.co'

mixin head(title, description, page)
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    link(itemprop='sameAs', href= linkedInUrl)
    meta(itemprop='gender', content='male')
    link(itemprop='url', href= siteUrl)
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16.png')
    link(rel='manifest', href='/manifest.webmanifest')
    link(rel='apple-touch-icon', href='/photo/icon-192x192.png')
    meta(name='theme-color', content='#ffffff')
    title= title
    meta(name='description', content= description)
    link(rel='stylesheet', href='/pages/' + page + '/' + page + '.scss')
