@import '/styles/common.scss';

.blog {
  margin-top: 36px;

  &-group {
    margin-bottom: 40px;
  }

  &-article {
    padding: 8px 14px;
    margin-bottom: 8px;
    margin-left: -14px;
    border-radius: 5px;
    margin-top: -3px;
    text-decoration: none;
    display: grid;
    grid-template-columns: 249px 120px;
    grid-gap: var(--column-gap);

    &:hover {
      background-color: #eee;
    }
  }

  &-title {
    color: var(--color-text);
  }

  &-month {
    font-size: 14px;
    color: #666;
    margin-left: 14px;
    margin-top: -2px;
  }

  &-year {
    font-size: 30px;
    line-height: 37px;
    font-weight: 700;
    margin: 0;
  }

  &-date {
    font-size: 14px;
    margin-left: 18px;
    opacity: 0.5;
  }
}
