:root {
  --color-background-primary: #121212;
   --color-background-secondary: #1e1e1e;
  --color-content-primary: rgb(255 255 255 / 97%);
  --color-content-secondary: rgb(255 255 255 / 74%);
  --color-content-tertiary: rgb(255 255 255 / 50%);
  --color-link-underline: rgb(255 255 255 / 34%);
  --color-link_hover: rgb(255 94 51);
  --color-link-underline_hover: rgb(255 94 51 / 40%);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background-primary: #fafafa;
    --color-background-secondary: #f2f2f2;
    --color-content-primary: rgb(0 0 0 / 97%);
    --color-content-secondary: rgb(0 0 0 / 80%);
    --color-content-tertiary: rgb(0 0 0 / 54%);
    --color-link-underline: rgb(0 0 0 / 20%);
    --color-link-underline_hover: rgb(255 54 0 / 25%);
    --color-link_hover: rgb(227 0 22);
  }
}
