:root {
  --main-column-width: 600px;
  --side-column-width: 200px;
  --column-gap: 45px;
}

.columns {
  display: grid;
  grid-template-columns: var(--side-column-width) var(--main-column-width);
  grid-gap: var(--column-gap);

  &-single {
    padding-left: calc(var(--side-column-width) + var(--column-gap));
  }

  &-aside {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
  }

  &-main {
    grid-column: 2;
    grid-row: 1;
  }
}
