@font-face {
  font-family: 'IBMPlexSans';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../../../node_modules/@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-display: swap;
  src: url("../../../node_modules/@ibm/plex/IBM-Plex-Sans/fonts/complete/woff2/IBMPlexSans-Regular.woff2");
}

:root {
  --font-sans: 'IBMPlexSans', sans-serif;
}
