@use "./colors.scss";
@use "./typography.scss";
@use "./spacing.scss";

:root {
  --size-layout-content-narrow: 720px;
  --space-layout-aside: 36px;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-skip-ink: all;
  text-underline-offset: .175em;
  text-decoration-color: var(--color-link-underline);
  position: relative;
}

a:hover {
  color: var(--color-link_hover);
  text-decoration-color: var(--color-link-underline_hover);
}

.honey {
  opacity: 0;
}
