@font-face {
  font-family: Inter;
  font-display: block;
  src: url("/fonts/inter.woff2") format("woff2");
}

:root {
  --typography-font-family-sans-serif: Inter;

  --typography-text: 400 16px/24px var(--typography-font-family-sans-serif);
  --typography-text_spacing: -0.45px;

  --typography-heading: 600 21px/25px var(--typography-font-family-sans-serif);
  --typography-heading_spacing: -0.38px;

  --typography-caption: 400 12px/16px var(--typography-font-family-sans-serif);
  --typography-caption_spacing: -0.15px;
}
