mixin hero()
  .hero.columns
    .columns-aside
      img.hero-photo(src='/blocks/hero/avatar@2x.jpg', alt='')
    .columns-main.hero-text
      span.hero-name Mikhael Khrustik
      .hero-information
        p
          | Front lead and developer at #[a.link(href='https://tektosoft.ru/') Tektosoft].
          br
          | Live in Saint Petersburg.
        .hero-links
          | #[a.hero-link.link(href='https://github.com/mishamyrt') GitHub] |
          | #[a.hero-link.link(href='https://t.me/mishamyrt') Telegram] |
          | #[a.hero-link.link(href='https://www.instagram.com/mishamyrt/') Instagram] |
          | #[a.hero-link.link(href='https://keybase.io/mishamyrt') Keybase]
          br
          | #[a.hero-link.link(href='mailto:misha@myrt.co') misha@myrt.co]
