.hero {
  margin: 30px auto 0;

  &-photo {
    width: 143px;
    height: 143px;
  }

  &-information {
    padding-top: 7px;
  }

  &-text {
    display: grid;
    grid-template-columns: 1fr 298px;
    grid-gap: var(--column-gap);
  }

  &-links {
    font-size: 14px;
    line-height: 18px;
    color: #d6d6d6;
    padding-top: 3px;
  }

  &-link.link {
    color: #666;
  }

  &-name {
    font-size: 69px;
    line-height: 72px;
    font-weight: bold;
    margin-left: -5px;
  }
}
