mixin hero()
  .hero
    h1.hero-h1
      | Я Михаил Хрустик, разработчик и дизайнер из Санкт–Петербурга.
      | Создаю крутые штуки в вебе и на мобильных устройствах.
    p.hero-h2
      | Специализируюсь на разработке понятных и интуитивных интерфейсов,
      | оптимизации производительности приложений и автоматизации процессов.
    +hireMe()
