.hero {
  margin-top: 145px;

  @media (max-width: 600px) {
    margin-top: 120px;
  }

  &-h1 {
    font-size: 4.2vw;
    font-weight: var(--font-width-title);
    letter-spacing: var(--letter-spacing-title);
    line-height: 130%;

    @media (max-width: 600px) {
      font-size: 32px;
    }
  }

  &-h2 {
    width: var(--width-third);
    color: var(--color-caption);

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}
