include ../../blocks/_blocks.pug

+page('Misha', 'Projects of Mikhael Khrustik', 'resume')
  +menu('resume/')
  +hero()
  .resume
    h2.h4.columns-single.resume-title Experience
    .jobs
      .jobs-item
        .jobs-heading.columns
          h3.h2.columns-main.jobs-title Front Lead at Tektosoft
          .columns-aside
            .jobs-date
              span.jobs-from Feb 2018
              span.jobs-to Present
        .jobs-content.columns
          .columns-aside.jobs-technologies
            span.jobs-technology  Angular
            span.jobs-technology  React
            span.jobs-technology  Docker
            span.jobs-technology  Angular
          .columns-main
            p Supported and developed CRM-systems for cellular operator and railway company, HR-service for sailors, online coin shop and many other projects.
            p Automated processes, prepared boilerplates for various stacks.
            p Wrote Ansible playbook to automate deploying, covered the code with integration tests, taught the tester to write tests. Introduced quality checks of the front-end code in all the projects i am participated in.
            p Designed REST api and helped to make important technical decisions.
            p Taught devops and developers how to work with GitLab CI.
            p Conducting a code-review, explaining  the importance and convenience of the custom properties of CSS.
            p Automated the work of Windows XP, which through RDP was connected to Windows 10, which through TeamViewer was connected to macOS.
            p Made SSR for the Angular 8 app. Maintained test coverage to >90%.
            p Introduced the practice of contributing to open-source projects, wrote and published a bot for automated code review. Helped to choose the stack of technologies for projects.
