mixin footer()
  ul.footer
    li
      a.footer-link(href='https://t.me/mishamyrt') Телеграм
    li
      a.footer-link(href='mailto:misha@myrt.co') Почта
    li
      a.footer-link(href='https://instagram.com/mishamyrt') Инстаграм
    li
      a.footer-link(href='https://github.com/mishamyrt') Гитхаб
