---
import Head from '../components/Head.astro';
import NoteLinks from '../components/NoteLinks.astro';
import Contacts from '../components/Contacts.astro';
import Experience from '../components/Experience.astro';
import Hero from '../components/Hero.astro';
import notes from '../notes.json'
import '../styles/common.scss';

const experienies = await Astro.glob('../content/experience/*.md');
---
<html lang="ru">
  <Head title="Миша" />
  <body>
    <div id="root">
      <div class="content">
        <div class="content-wrapper">
          <Hero />
          <Contacts />
          <Experience items={experienies} />
          <NoteLinks notes={notes} />
        </div>
      </div>
    </div>
  </body>
</html>
