<img class="hero-avatar" src="/assets/avatar@2x.png" />
<h1>
  Привет! Меня зовут Миша Хрустик, я — программист и дизайнер. Приятно познакомиться.
</h1>
<p>
  Самоучка с девятилетним опытом.
  Помог большому количеству компаний с разработкой, рекламой и дизайном.
  Создаю крутые штуки в вебе, на мобильных и встраиваемых устройствах.
</p>
<p>
  Специализируюсь на разработке понятных и интуитивных интерфейсов,
  оптимизации производительности приложений и автоматизации процессов.
</p>
<p>В данный момент работаю в <a href="https://otr.ru/">ОТР</a> тимлидом фронтенд–команды и живу в Самаре.</p>
