---
import Typography from "./Typography.astro";

type NavigationTarget = {
  title: string;
  href: string;
};

const targets: NavigationTarget[] = [
  { title: "Опыт", href: "/" },
  { title: "Проекты", href: "/projects" },
  // { title: "Блог", href: "/blog/" },
];

const state = targets.map((target) => ({
  ...target,
  active: Astro.url.pathname === target.href,
  sublink: Astro.url.pathname.startsWith(target.href) && target.href !== "/",
}));
---

<nav>
  {
    state.map(({ title, href, active, sublink }) => (
      <Typography
        class:list={{
          active,
          sublink,
        }}
        as="a"
        href={href}
        variant="heading-xs"
        color={active || sublink ? "primary" : "tertiary"}
      >
        {title}
      </Typography>
    ))
  }
</nav>

<style>
  nav {
    display: flex;
    gap: 18px;
  }

  a.active {
    cursor: default;
    text-decoration: none;
    pointer-events: none;
  }

  a.sublink {
    color: var(--color-text-primary);
  }
</style>
