---
interface Props {
  items: any[];
}

function parseDate(s: string): number {
  const [month, year] = s.split(".").map((i) => parseInt(i, 10));
  const date = new Date();
  date.setFullYear(year, month);
  return date.getTime();
}

function sortDesc(a: any, b: any): number {
  return parseDate(b.frontmatter.from) - parseDate(a.frontmatter.from);
}

const items = Astro.props.items.toSorted(sortDesc).map((i) => ({
  ...i,
  date: `${i.frontmatter.from}${i.frontmatter.to ? " – " + i.frontmatter.to : ""}`,
}));
---

<div class="experience">
  {
    items.map(async (work: any) => (
      <div class="experience-item">
        <div class="experience-dateContainer">
          <span class="experience-date">{work.date}</span>
        </div>
        <article>
          <work.Content />
        </article>
      </div>
    ))
  }
</div>

<style lang="scss">
  .experience {
    margin-top: 48px;
  }

  .experience-item {
    max-width: var(--size-layout-content-narrow);
    margin: 38px auto 0;
    position: relative;
  }

  .experience-dateContainer {
    font: var(--typography-caption);
    letter-spacing: var(--typography-caption_spacing);
    transform: rotate(-90deg) translateX(calc(-100% - 44px));
    transform-origin: left;
    color: var(--color-content-tertiary);
    position: absolute;
    top: 0;
    left: calc((var(--space-layout-aside) * -1) - 4px);
  }

  article {
    :global(h3) {
      font: var(--typography-heading);
      letter-spacing: var(--typography-heading_spacing);
      color: var(--color-content-primary);
      margin: 0;
    }

    :global(h3 a) {
      color: var(--color-content-primary);
    }

    :global(p) {
      font: var(--typography-text);
      letter-spacing: var(--typography-text_spacing);
      color: var(--color-content-secondary);
      margin: 9px 0 0;
    }

    :global(p + p) {
      margin-top: 1em;
    }
  }
</style>
