---
import NavigationLink from "../components/NavigationLink.astro";

const currentUrl = Astro.url.pathname;
---

<nav>
  <NavigationLink href="/">Опыт</NavigationLink>
  <NavigationLink href="/projects">Проекты</NavigationLink>
  <NavigationLink href="/blog/">Блог</NavigationLink>
</nav>

<style>
  nav {
    max-width: var(--size-layout-content-narrow);
    margin: 0 auto;
    display: flex;
    gap: 18px;
  }
</style>
