include ../page.pug
include ../resume/resume.pug

+page('Misha\'s Resume', 'Resume of Mikahael Khrustik', 'resume')
  .resume
    +resumeHeader('Mikhael Khrustik', 'Developer and designer', 'Mikhael Khrustik photo')
    .resume-jobs
      +resumeJob(
        'Front lead at Tektosoft',
        { from: 'Feb 2019', to: 'Today' },
        { title: 'Tektosoft', url: 'https://tektosoft.ru/' },
        [ 'Angular', 'React', 'Preact', 'Docker', 'Ansible', 'GitLab CI', 'Node.JS', 'Vanilla ES6', 'PHP', 'Webpack', 'Parcel', 'Mocha', 'Chai', 'Puppeteer', 'Jasmine', 'Autohotkey' ]
      )
        p Supported and developed CRM-systems for cellular operator and railway company, HR-service for sailors, online coin shop and many other projects.
        p Automated processes, prepared boilerplates for various stacks.
        p Wrote Ansible playbook to automate deploying, covered the code with integration tests, taught the tester to write tests. Introduced quality checks of the front-end code in all the projects i am participated in.
        p Designed REST api and helped to make important technical decisions.
        p Taught devops and developers how to work with GitLab CI.
        p Conducting a code-review, explaining  the importance and convenience of the custom properties of CSS.
        p Automated the work of Windows XP, which through RDP was connected to Windows 10, which through TeamViewer was connected to macOS.
        p Made SSR for the Angular 8 app. Maintained test coverage to >90%.
        p Introduced the practice of contributing to open-source projects, wrote and published a bot for automated code review. Helped to choose the stack of technologies for projects.

      +resumeJob(
        'Front-end developer at BelVG',
        { from: 'Jul 2018', to: 'Feb 2019' },
        { title: 'BelVG', url: 'http://belvg.com' },
        [ 'PHP', 'Twig', 'Smarty', 'Bootstrap', 'Vanilla ES6', 'Angular', 'Node.JS', 'jQuery', 'Babel', 'Gulp', 'MySQL', 'Webpack', 'Knockout.JS' ]
      )
        p Wrote back-end parts for Magento 2 and Prestashop, made layout for different formats, languages, etc.
        p Helped to update the client site with Prestashop 1.6 to 1.7 (basically rewriting 80% of the code), wrote a bank card configurator, fixed thousands of bugs on hundreds of sites.
        p Didn't hesitate to offer solutions that didn't coincide with the company's usual stack.
        p Written down the legacy stuff, introduced and optimized the collectors.

      +resumeJob(
        'Team lead and designer at Cifra',
        { from: 'May 2017', to: 'Mar 2018' },
        { title: 'Cifra', url: 'https://cifra.in' },
        [ 'PHP', 'Smarty', 'Vanilla ES6', 'Babel', 'Rollup', 'PostCSS', 'Gulp' ]
      )
        p Developed the logo, identity and website design.
        p Runs an updated version of the site. The whole front-end was rewritten from scratch.
        p Introduced automatic tests and deploy into the project.
        p Supervised the work of the programmers and designers staff.
        p Was engaged in architecture building, conducting reviews, writing code for the front and back parts.

      +resumeJob(
        'Developer, designer and tech lead at CMT',
        { from: 'Sep 2016', to: 'May 2017' },
        { title: 'CMT', url: 'https://cmtscience.ru' },
        [ 'PHP', 'Twig', 'Vanilla ES6', 'Vue', 'Node', 'Express', 'Rollup', 'PostCSS', 'Gulp' ]
      )
        p Designed, designed, and launched a new version of the site on a handwritten engine. Made a powerful dynamic admin, which allows you to conveniently write articles for editors.
        p Designed and built the micro service architecture. Conducted interviews, assembled the team.
        p Wrote and executed publishing standards.

      +resumeJob(
        'Full stack developer at EFO',
        { from: 'Jun 2016', to: 'Aug 2016' },
        { title: 'EFO', url: 'https://efo.ru/en' },
        [ 'PHP', 'Laravel', 'Twig', 'Smarty', 'jQuery', 'Perl', 'Java', 'Bootstrap' ]
      )
        p Created internal project sites, automated routine tasks for managers, maintained and rewritten the old site.
        p Designed, wrote and launched a complex, configurable search engine by company product.

    .resume-skills
      h2.resume-skillsHeading Skills
      +resumeSkill('Design',
        [
          'Can work with Photoshop, Illustrator, InDesign and Figma',
          'Understand the difference between UI and UX',
          'Have read Material and Metro Design guidelines',
          'Can write with a calligraphic pen',
          'Know how to work with frame, tween and spline-animation',
          'Have basic Principle, Framer and Sketch skills'
        ]
      )
      +resumeSkill('Technology',
        [
          'Active Contributor in Open Source',
          'Attentive to details, especially in someone else code',
          'Call functions and variables clear names not only for myself',
          'Know that Java and JavaScript are different things',
          'Applying design patterns',
          'Following the latest standards: HTML5, CSS3, ES2015+, ISO',
          'Using tests, linters and verbal persuasion techniques',
          'Worked with Angular 6, 7, 8, NgRx, Knockout.JS, React, Redux, Vue, Preact and Svelte',
          'Can configure Webpack, Rollup, Gulp, Parcel and scripts in npm',
          'Can distinguish postprocessor from transpiler and OOP from TDD',
          'Know how to create layout without using frameworks; by BEM and without; on templates and JSX',
          'Think that the future of applications is in PWA and I keep telling everyone about it',
          'Coded AMP-compatible pages, got 100% on Pagespeed and Sitespeed.io',
          'Know that not all people have the same opportunities. I make accessible interfaces by default',
          'Configuring GitLab CI, Jenkins and Travis.CI',
          'Can write Dockerfile and docker-compose',
          'Can configure nginx and Apache',
          'Know how to build a Linux kernel and how to optimize it for a specific architecture'
        ]
      )
      +resumeSkill('Processes',
        [
          'Know how merge differs from rebase and stash from cherry pick',
          'Read a lot, study all the time and can teach others',
          'Barely afraid of public speaking',
          'I know how to create tasks in epics, assign testers and drag cards on a Kanban board'
        ]
      )
      +resumeSkill('Legal',
        [
          'Know fonts and images aren\'t free and help you buy them right',
          'Distinguish BSD from MIT and use GPL projects with caution',
          'Know why it is dangerous to use React when developing cryptocurrency sites'
        ]
      )
