:root {
  --color-background: white;
  --color-link: black;
  --color-link-background: #d8d8d8;
  --color-heading: black;
  --color-text: #6c6c6c;
  --color-icon: #a8a8a8;
  --color-line: var(--color-link-background);
  --color-technology-bg: var(--color-icon);
  --color-technology-fg: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-link: white;
    --color-heading: white;
    --color-background: #282c2f;
    --color-text: hsl(0, 0%, 58%);
    --color-icon: hsl(0, 0%, 66%);
    --color-line: hsl(0, 0%, 85%);
    --color-link-background: hsl(0, 0%, 30%);
    --color-technology-fg: var(--color-line);
    --color-technology-bg: var(--color-link-background);
  }
}
