.menu {
  &-itemContent {
    margin: 0 15px 0 0;
    color: #595959;

    &.link {
      text-decoration: none;
      color: #595959;
    }

    &.__current {
      color: var(--color-text);
      font-weight: bold;
      opacity: 1;
    }
  }

  &-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 26px 0;
  }
}
