include ./blocks/_blocks.pug

+page('Misha', 'Contacts and projects of Mikhael Khrustik', 'blog')
  +menu('blog')
  +hero()
  .blog
    each postsYear in posts
      .blog-group.columns
        .columns-aside
          h2.blog-year #{postsYear.year}
        .columns-main
          each post in postsYear.posts
            .blog-article
              | #[a.link(href='./articles/' + post.key + '.pug') #{post.title}]
              span.blog-month #{post.month}
