include ./blocks/_blocks.pug

+page('Misha', 'Contacts and projects of Mikhael Khrustik', 'blog')
  +menu('blog')
  +hero()
  .blog
    each postsYear in posts
      .blog-group.columns
        .columns-aside
          h2.blog-year #{postsYear.year}
        .columns-main
          each post in postsYear.posts
            a.blog-article(href='./articles/' + post.key + '.pug')
              span.blog-title #{post.title}
              span.blog-month #{post.month}
