include ./blocks/_blocks.pug

+page('Misha', 'Contacts and projects of Mikhael Khrustik', 'blog')
  +menu('blog')
  +hero()
  .blog
    each postsYear in posts
      .blog-group.columns
        .columns-aside
          h2.blog-year #{postsYear.year}
        .columns-main
          each post in postsYear.posts
            .blog-article
              | #[a.link(href='./articles/' + post.key + '.pug') #{post.title}]
              span.blog-month #{post.month}
      //-   .blog-article
      //-     | #[a.link(href='#') Tests for dummies]
      //-     span.blog-month October
      //-   .blog-article
      //-     | #[a.link(href='#') Tests for dummies]
      //-     span.blog-month November
      //-   .blog-article
      //-     | #[a.link(href='#') Tests for dummies]
      //-     span.blog-month April
    //- .blog-group.columns
    //-   .columns-aside
    //-     h2.blog-year 2018
    //-   .columns-main
    //-     .blog-article
    //-       | #[a.link(href='./articles/odorless-frontend.pug') Tests for dummies]
    //-       span.blog-month July
    //-     .blog-article
    //-       | #[a.link(href='#') Tests for dummies]
    //-       span.blog-month March
