meta( charset="UTF-8" )
meta( name="viewport" content="width=device-width" )

link( itemprop="sameAs" href="https://vk.com/mishamyrt" )
meta( itemprop="gender" content="male" )
link( itemprop="url" href="https://myrt.co" )
link( rel="icon" type="image/png" href="/favicon.png" )

link( rel="stylesheet" href="/index.css" )
