include blocks/index.pug

+page('Миша', 'Контакты и проекты Миши')
  +avatar()
  +hero()
  .experience
    include experience/tektosoft.pug
    include experience/android.pug
    include experience/belvg.pug
    include experience/cifra.pug
    include experience/cmt.pug
    include experience/efo.pug
  +footer()

