@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import 'blocks/avatar/style.scss';
@import 'blocks/hero/style.scss';
@import 'blocks/hireMe/style.scss';
@import 'blocks/case/style.scss';
@import 'blocks/footer/style.scss';

:root {
  --letter-spacing-title: -0.93px;
  --letter-spacing-text: -0.15px;
  --font-width-title: 600;
  --gutter: 30px;
  --width-third: calc(100% * 0.666 - (var(--gutter) / 2));
  --width-quarter: calc(100% * 0.75 - (var(--gutter) / 2));
  --color-background: white;
  --color-text: #1d1d1f;
  --color-link: #007aff;
  --color-link-hover: #ff3c2f;
  --color-caption: #81858b;

  @media (max-width: 700px) {
    --gutter: 20px;
  }
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0 150px;
  letter-spacing: var(--letter-spacing-text);
  font-size: 21px;
  line-height: 146%;
  color: var(--color-text);
  background-color: var(--color-background);

  @media (max-width: 950px) {
    margin: 0 20px;
  }
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition-property: color;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;

  &:hover {
    transition-duration: 0s;
    color: var(--color-link-hover);
  }
}

.experience {
  margin-top: 70px;
}
