---
import Navigation from "../components/Navigation.astro";
import DebugGrid from "../components/DebugGrid.astro";
import "../styles/main.scss";

const siteUrl = "https://myrt.co";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/jpg" href="/avatar@2x.jpg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={siteUrl} />
    <title>{title}</title>
  </head>
  <body>
    <Navigation />
    <DebugGrid step={8} />
    <main>
      <slot />
    </main>
  </body>
</html>

<script>
  import "../../../honeymate/dist/honeymate";
</script>

<style is:global>
  body,
  html {
    background-color: var(--color-background);
  }

  body {
    padding: 46px 0;
  }

  main {
    padding: 48px 0;
  }
</style>
