---
import { Font } from "astro:assets";

import Navigation from "../components/Navigation.astro";
import DebugGrid from "../components/DebugGrid.astro";
import "../styles/main.scss";

const siteUrl = "https://myrt.co";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/jpg" href="/avatar@2x.jpg" />
    <link rel="canonical" href={siteUrl} />
    <Font cssVariable="--typography-font-family-sans-serif" />
    <Font cssVariable="--typography-font-family-serif" />
    <Font cssVariable="--typography-font-family-monospace" />
    <title>{title}</title>
  </head>
  <body>
    <div class="content">
      <Navigation />
      <DebugGrid step={9} />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<script>
  import "../../../honeymate/dist/honeymate";
</script>

<style is:global>
  body,
  html {
    background-color: var(--color-background-primary);

    --layout-padding-min: 117px;
  }

  body {
    padding: 31px 18px;
  }

  .content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0 0 max(7%, var(--layout-padding-min));
  }

  main {
    padding: 39px 0;
  }

  @media (max-width: 873px) {
    .content {
      padding: 0;
    }
  }

  @media (max-width: 610px) {
    body {
      padding: 22px 18px;
    }
  }
</style>
