.hero {
  max-width: 900px;
  margin: 37px auto 37px;
}

.hero-header {
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 69%;
}

.hero-heading {
  font-size: 76px;
  line-height: 80px;
  margin: 0 0 2px;
}

.hero-avatar {
  max-width: 155px;
  border-radius: 50%;
  max-height: 155px;
}

.hero-footer {
  border-top: 1px solid var(--color-line);
  padding-top: 29px;
}

.hero-icons {
  display: flex;
  align-items: center;
}

.hero-icon {
  fill: var(--color-heading);
  width: 20px;
  display: block;
  opacity: 0.33;
  font-size: 0;
  margin-right: 25px;
  transition: opacity 0.25s ease-out;
  background-size: contain;
}

.hero-icon:last-child {
  margin-right: 0;
}

a.hero-icon:hover {
  opacity: 1;
  background-color: transparent;
  transition: opacity 0s;
}

@media screen and (max-width: 900px) {
  .hero-heading {
    font-size: calc(7vw + 14px);
    line-height: calc(7.4vw + 14px);
    margin: 0 0 calc(0.5vw + 14px);
  }

  .hero-content {
    max-width: unset;
  }

  .hero-header {
    flex-direction: column-reverse;
  }

  .hero-avatar {
    max-width: 150px;
    max-height: 150px;
    margin: -4px 0 8px;
  }
}

@media screen and (max-width: 521px) {
  .hero-heading {
    font-size: 55px;
    margin: 1px 0 6px;
    line-height: 60px;
  }
}

@media screen and (max-width: 420px) {
  .hero-heading {
    font-size: 35px;
    margin: 1px 0 10px;
    line-height: 41px;
  }

  .hero-avatar {
    max-width: 100px;
    max-height: 100px;
    margin: -4px 0 13px;
  }
}
