mixin heroHeader(heading, photoAlt)
  .hero-header
    h1.hero-heading
      | !{heading}
    picture.hero-avatar(width='155px', height='155px')
      source(srcset='/photo/avatar@2x.webp 2x, /photo/avatar.webp', type='image/webp')
      img.hero-avatar(src='/photo/avatar.jpg', srcset='/photo/avatar@2x.jpg 2x, /photo/avatar.jpg', alt= photoAlt, itemprop='image')

mixin heroIcons
  .hero-icons
    a.hero-icon(href='https://www.instagram.com/mishamyrt/', itemprop='sameAs', rel='me', aria-label='Instagram')
      include ./icons/instagram.svg
    a.hero-icon(href='https://t.me/mishamyrt', itemprop='sameAs', rel='me', aria-label='Telegram')
      include ./icons/telegram.svg
    a.hero-icon(href='https://github.com/mishamyrt', itemprop='sameAs', rel='me', aria-label='GitHub')
      include ./icons/github.svg
    a.hero-icon(href='https://keybase.io/mishamyrt', itemprop='sameAs', rel='me', aria-label='Keybase')
