.case {
  margin-top: 100px;

  @media (max-width: 600px) {
    margin-top: 30px;
  }

  &-title {
    font-size: 45px;
    letter-spacing: var(--letter-spacing-title);
    margin: 16px 0 24px 0;
  }

  &-when {
    color: var(--color-caption);
  }

  &-description {
    width: var(--width-third);
    margin: 0;
    line-height: 146.7%;
    font-size: 21px;

    @media (max-width: 600px) {
      width: 100%;
      font-size: 20px;
    }
  }

  &-factText {
    font-size: 16px;
    line-height: 150%;
    margin-top: 24px;

    @media (max-width: 700px) {
      margin-top: 12px;
    }
  }

  &-facts {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(var(--columns-count), 1fr);

    @media (max-width: 600px) {
      grid-gap: 15px;
      margin-top: 25px;
    }

    &.__three {
      --columns-count: 3;

      @media (max-width: 700px) {
        --columns-count: 2;
      }

      @media (max-width: 600px) {
        --columns-count: 1;
      }

      & .case-factText {
        width: var(--width-third);

        @media (max-width: 950px) {
          width: 100%;
        }
      }
    }

    &.__four {
      --columns-count: 4;

      @media (max-width: 800px) {
        --columns-count: 2;
      }

      @media (max-width: 600px) {
        --columns-count: 1;
      }
    }
  }

  &-factTitle {
    font-size: 24px;
  }

  &-fact {
    margin-top: 23px;

    @media (max-width: 600px) {
      margin-top: 0;
    }
  }

  &-factImg {
    width: 100%;
  }
}
